mat-form-field {
    width: 100%;
}

mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px 4px 0 0;
}
mat-card {
    margin-bottom: 1rem;
    cursor: pointer;
}
.header {
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0; 
    z-index: 1000;
}
